In [1]:
import numpy as np
import pandas as pd

# Re-create the KNN Algorithm
## Steven Glover
***
To recreate the KNN algorithm I created a series of functions that were leveraged by a single wrapper function. In this notebook, I first used Iris data sets to test this functionality. I prototyped the titanic dataset in another notebook, but the code included below and in the attached script are identical. I demonstrate the wrapper function using both the Titanic dataset and the Iris dataset at the end of this workbook. <br>
<br>**Preprocessing:**
1.	data_type_preprocessing: The function breaks the data frame into a train / split, converts the categorical variables to dummies, and normalizes the X-test and X-Train subsets to be on a zero to one scale.  To manage different data types, the function will behave differently depending on the input parameters. The var_type parameter indicates whether the inputted data frame consists of only categorical variables, only continuous variables, or a mixture between the two. If the function is given only categorical variables, the categorical variables will be converted to dummies and the test / train split along with the column names is returned. If the function is given only continuous variables, the variables will be normalized, and the test / train split along with the column names is returned. If the function is given a mixed data frame the user must also include lists identifying which columns are continuous and categorical in the continuous_list and categorical_list arguments. For mixed data frames, the function will return the test / train, the column names, the indexes of the continuous variables and the indexes of the categorical variables.  <br>
<br>**Distance Measures:**
2.	minkowski_distance – will compute the minkowki distance between two arrays
3.	minkowski_point_array : (To be used in conjunction with the Gower Distance)  - The function returns an array of the Minkowski distances between each continuous point of two arrays. This is needed because the Gower Distance requires that these point distance measures are normalized before the Gower Distance is calculated. 
4.	jaccard_distance – will compute the jaccard distance for categorical variables
5.	gower_distance - The function returns the distances needed to calculate the Gower distance.  Note, the return is not a single distance measure because of an additional normalizing step for the continuous distance measures.  The function returns 3 variables: 1 the Jaccard distance measure for the categorical variables, 2.  an array of Minkowski distance measure between each continuous point, 3. the denominator for the Gower distance calculation. <br>
<br>**KNN Predictions:**
6.	knn_predictions: The function calculates the distance measures for each observation in the test set to each observation in the training set. An array of distance measures is created for each observation in the test. The function then returns the indexes of the K smallest distances in the array. Using these indexes, we are able to determine the y values associated with the smallest distances measures, which are stored in another array. We then obtain the vote for the prediction using a combination of the numpy argmax function and the numpy unique function. This process is repeated for each of the observation in the test set and the predictions are stored to a list with every iteration. <br>
<br>**Prediction Accuracy Report**
7.	The function returns the accuracy score, precision / recall tables, and a confusion matrix for the predictions. <br>
<br>**The Wrapper Function**
8.	Complete_KNN: The function wraps all the above functions together to provide preprocessing, generate predictions using the KNN algorithm, and an accuracy report. The function takes the following arguments:
    - Df – the data frame the user is working with
    - y – the name of the y variable as a string
    - var_type – identifies the datatypes of the predictors and takes the following inputs: continuous, categorical or mixed. It is continuous by default.
    - continuous_list = This field is required for data frames of mixed datatypes, such as the titanic dataset. The argument takes a list with the column names of the continuous variables.
    - categorical_list = This field is required for data frames of mixed datatypes. The argument takes a list with the column names of the categorical variables.
    - k = the number of nearest neighbors to calculate
     - distance_measure = is the distance measure used to determine the nearest neighbors. It is ‘euclidean’ by default. It will take ‘euclidean’, ‘manhattan’, ‘jaccard’, and ‘gower.’  

**<font color = red> Please note: </font> ** the user is required to know which measures to use for which data type. Errors may result if the user tries to compute the Gower distance on an all continuous or all categorical data frame. Additionally, using the Jaccard distance for an all continuous data frame will produce errors as well.

## 1) Import and Preprocess the Data

In [9]:
from sklearn import datasets
#import the Iris Dataset
iris = datasets.load_iris()
#create a dataframe of the iris dataset
data = pd.DataFrame(data=iris.data, columns=['SEPAL_LENGTH','SEPAL_WIDTH','PETAL_LENGTH','PETAL_WIDTH'])
data['TARGET'] = iris.target

#print Information about the dataset
print('columns: ',data.columns,'\n')
print('shape: ', data.shape,'\n')
print('null: \n', pd.isnull(data).sum())
print('-------------------------------')
print('Unique Values: ', data.nunique())

for i in data.columns.tolist():
    print(i,'\n',data[i].unique())
    print('---------------')
    
display(data.head())

columns:  Index(['SEPAL_LENGTH', 'SEPAL_WIDTH', 'PETAL_LENGTH', 'PETAL_WIDTH', 'TARGET'], dtype='object')

shape:  (150, 5)

null:
 SEPAL_LENGTH    0
SEPAL_WIDTH     0
PETAL_LENGTH    0
PETAL_WIDTH     0
TARGET          0
dtype: int64
-------------------------------
Unique Values:  SEPAL_LENGTH    35
SEPAL_WIDTH     23
PETAL_LENGTH    43
PETAL_WIDTH     22
TARGET           3
dtype: int64
SEPAL_LENGTH
 [ 5.1  4.9  4.7  4.6  5.   5.4  4.4  4.8  4.3  5.8  5.7  5.2  5.5  4.5  5.3
  7.   6.4  6.9  6.5  6.3  6.6  5.9  6.   6.1  5.6  6.7  6.2  6.8  7.1  7.6
  7.3  7.2  7.7  7.4  7.9]
---------------
SEPAL_WIDTH
 [ 3.5  3.   3.2  3.1  3.6  3.9  3.4  2.9  3.7  4.   4.4  3.8  3.3  4.1  4.2
  2.3  2.8  2.4  2.7  2.   2.2  2.5  2.6]
---------------
PETAL_LENGTH
 [ 1.4  1.3  1.5  1.7  1.6  1.1  1.2  1.   1.9  4.7  4.5  4.9  4.   4.6  3.3
  3.9  3.5  4.2  3.6  4.4  4.1  4.8  4.3  5.   3.8  3.7  5.1  3.   6.   5.9
  5.6  5.8  6.6  6.3  6.1  5.3  5.5  6.7  6.9  5.7  6.4  5.4  5.2]
---------------
PETAL_WIDTH
 [ 0.2  0.4  0.3  0.1  0.5  0.6  1.4  1.5  1.3  1.6  1.   1.1  1.8  1.2  1.7
  2.5  1.9  2.1  2.2  2.   2.4  2.3]
---------------
TARGET
 [0 1 2]
---------------

   SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH  TARGET
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

## <font color = blue> The following functions and code is the prototyping for the Complete_KNN function in the .py script file </font>
The KNN script file will be called at the end of the file to ensure that it works.

# Preprocessing & Train Test Split
***

In [10]:
def data_type_preprocessing(df,y, var_type = 'continuous',
                            continuous_list = None, categorical_list = None, categorical_only= False):
    
    from sklearn.preprocessing import MinMaxScaler
    from sklearn.preprocessing import StandardScaler
    from sklearn.cross_validation import train_test_split
    ''' The following function will preprocess the data and create a train test split.
    It will be able to handle dataframes that are all categorical, all continuous, or mixed.
    it will create dummies for categorical variables. It will normalize continous variables.
    it will also create a train test split. For mixed dataframes it will return the indexes of 
    the continuous and categorical variables.
    
    var_type
    --------
    var_type = 'continuous' (by default. Indicates only continous variables in the dataframe)
    var_type = 'categorical' ('Indicates only a categorical dataframe)
    var_type = 'Mixed ('Indicates both categorical and continous variables present. 
                        Requires both categorical list, and continuous lists.)
    '''
    
    #get variable names from the function
    #------------------------------------
    
    #get the y col
    y_col = y
    
    #create the y array 
    y = np.array(df[y].astype(str))
    
    """ Determine the type variables we are working with and 
    process accrodingly"""
    
    if var_type == 'mixed':
        #get categorical & continuous variables
        cont = continuous_list
        cat = categorical_list
        
        #subset continuous
        cont_df = df[cont]
        
        #get the length of continuous and categorical to slice arrays
        split_position = len(cont)
        
        #get dummies for categorical variables
        cat_df = pd.get_dummies(df[cat].astype(str))
    
        #recreate the dataframe with dummies
        X = pd.merge(cont_df,cat_df, how = 'left', left_index=True, right_index = True)
        
    elif var_type == 'categorical':
        #create a dataframe of dummy variables that do not include y
        X = pd.get_dummies(df[categorical_list])
        
    elif var_type == 'continuous':
        X = df[continuous_list]
    
    
    # Get column names
    col_names = X.columns
    X = np.array(X)
    
    # Create the train test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    
    
    #preprocess continuous variables
    scaler = MinMaxScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)
        
    if var_type == 'mixed':
        #idenify the array index of categorical and continuous columns
        cont_idx = [i for i in range(split_position)]
        cat_idx = [i for i in range(split_position, col_names.shape[0])] 
        return X_train, X_test, y_train, y_test, col_names, cont_idx, cat_idx
    else:
        return X_train, X_test, y_train, y_test, col_names

In [11]:
X_train, X_test, y_train, y_test, col_names = data_type_preprocessing(data, y = 'TARGET')

In [12]:
pd.DataFrame(data = X_train,columns=col_names)

     SEPAL_LENGTH  SEPAL_WIDTH  PETAL_LENGTH  PETAL_WIDTH
0        0.722222     0.458333      0.745763     0.833333
1        0.250000     0.875000      0.084746     0.000000
2        0.583333     0.291667      0.728814     0.750000
3        0.166667     0.458333      0.084746     0.000000
4        0.472222     0.375000      0.593220     0.583333
5        0.805556     0.416667      0.813559     0.625000
6        0.250000     0.291667      0.491525     0.541667
7        0.388889     1.000000      0.084746     0.125000
8        0.194444     0.583333      0.101695     0.125000
9        0.305556     0.708333      0.084746     0.041667
10       0.500000     0.375000      0.627119     0.541667
11       0.666667     0.416667      0.677966     0.666667
12       0.611111     0.416667      0.813559     0.875000
13       0.555556     0.125000      0.576271     0.500000
14       0.722222     0.458333      0.661017     0.583333
15       0.222222     0.750000      0.101695     0.041667
16       0.194444     0.541667      0.067797     0.041667
17       0.222222     0.208333      0.338983     0.416667
18       0.222222     0.750000      0.084746     0.083333
19       0.694444     0.416667      0.762712     0.833333
20       0.361111     0.375000      0.440678     0.500000
21       0.194444     0.000000      0.423729     0.375000
22       0.444444     0.416667      0.694915     0.708333
23       0.138889     0.416667      0.067797     0.083333
24       0.333333     0.125000      0.508475     0.500000
25       0.444444     0.416667      0.542373     0.583333
26       0.333333     0.208333      0.508475     0.500000
27       0.555556     0.375000      0.779661     0.708333
28       0.222222     0.625000      0.067797     0.083333
29       0.555556     0.333333      0.694915     0.583333
..            ...          ...           ...          ...
90       0.666667     0.458333      0.627119     0.583333
91       0.416667     0.250000      0.508475     0.458333
92       0.166667     0.208333      0.593220     0.666667
93       0.388889     0.416667      0.542373     0.458333
94       0.361111     0.416667      0.593220     0.583333
95       0.416667     0.291667      0.694915     0.750000
96       0.583333     0.500000      0.593220     0.583333
97       0.916667     0.416667      0.949153     0.833333
98       0.138889     0.583333      0.152542     0.041667
99       0.666667     0.458333      0.779661     0.958333
100      0.527778     0.083333      0.593220     0.583333
101      0.083333     0.500000      0.067797     0.041667
102      0.305556     0.416667      0.593220     0.583333
103      0.694444     0.333333      0.644068     0.541667
104      0.611111     0.416667      0.762712     0.708333
105      0.027778     0.416667      0.050847     0.041667
106      0.388889     0.750000      0.118644     0.083333
107      0.694444     0.500000      0.830508     0.916667
108      0.555556     0.541667      0.627119     0.625000
109      0.388889     0.375000      0.542373     0.500000
110      0.305556     0.583333      0.084746     0.125000
111      0.416667     0.291667      0.491525     0.458333
112      0.111111     0.500000      0.101695     0.041667
113      0.805556     0.666667      0.864407     1.000000
114      0.500000     0.416667      0.610169     0.541667
115      0.611111     0.416667      0.711864     0.791667
116      0.722222     0.500000      0.796610     0.916667
117      0.527778     0.375000      0.559322     0.500000
118      0.944444     0.333333      0.966102     0.791667
119      0.194444     0.416667      0.101695     0.041667

[120 rows x 4 columns]


# Distance Measures 
***

### Minkowski

In [13]:
from scipy.spatial.distance import minkowski
from scipy.spatial.distance import jaccard

### Minkowski Distance

In [14]:
A = X_train[0,:]
B = X_train[1,:]

In [15]:
# True minkowski Distance between two arrays
def minkowski_distance(A, B, p =2):
    p = 2
    diff_abs = np.abs(A - B)
    to_the_p = diff_abs**p
    sum_dist = sum(to_the_p)
    sum_div_p = sum_dist**(1/p)
    return sum_div_p

minkowski_distance(A, B, p =2)

1.2361200547612616

In [16]:
#scipy check
minkowski(A , B, p= 2)

1.2361200547612616

In [17]:
# Minkowski Distance between two points for the Gower
def minkowski_point_array(A, B, p = 2):
    '''This function will be used in the gower distance calculation.
    it differs from the true minkowsi in that calculates the minkowski distance
    between two points rather than between two arrays'''
    #absolute value of the difference
    diff_abs = np.abs(A - B)
    #to the p
    to_the_p = diff_abs**p
    #each point in the array raised to the value of 1/p
    dist_raised_1div_p = to_the_p**(1/p)
    return dist_raised_1div_p

In [18]:
minkowski_point_array(A, B, p = 2)

array([ 0.47222222,  0.41666667,  0.66101695,  0.83333333])

### Jaccard Distance

In [19]:
def jaccard_distance(A, B):
    a = []
    b = []
    c = []
    for index in range(len(A)):
        if A[index] == 1 and B[index] == 1:
            a.append(1)
        elif A[index] == 1 and B[index] == 0:
            b.append(1)
        elif A[index] == 0 and B[index] == 1:
            c.append(1)
    return (sum(b) + sum(c))/(sum(a) + sum(b) + sum(c))

### Gower Distance function
***

In [20]:
def gower_distance(A, B, cont_idx, cat_idx, p = 2):
    """This function will return the jaccard distance calculation, an array of the minkowski point calculations.
    note: the minkowski 'point' distances are not summed. Just an array of the gower distances from point to point
    is returned. The function was built this way because we need to nomalize the gower array before computing the
    gower distances. The function also returns the demominator for the gower distance calculations
    (+ 1 for each continous and a 1 if categorical variables exist)"""
    denominator = len(cont_idx) + 1
    return jaccard_distance(A[cat_idx], B[cat_idx]), minkowski_point_array(A[cont_idx], B[cont_idx],p = 2), denominator

# The  KNN Predictions
***

In [21]:
# 1. calcualte the distances and store them to a list
def knn_predictions(X_train, X_test, y_train, y_test, col_names, 
                    cont_idx = None, cat_idx = None, k = 5, distance = 'gower'):
    
    """
    Distance_measures
    -----------------
    1. 'gower'
    2. 'jaccard'
    3. 'euclidean'
    4. 'manhattan'
    """
    
    from sklearn.preprocessing import MinMaxScaler
    predictions = []
    for test_index in range(X_test.shape[0]):
        test = X_test[test_index,:]
        distances = []
        
        """The following section will populate the distance for each observation in the training
        set to the current test observation. Due to the normalization of the distances prior to 
        concatenation with the jaccard caculation, the gower distance has a much lengthy procedure."""
        
        if distance == 'gower':
        #calculate the distance of the test line to all of the other training lines
            for train_index in range(X_train.shape[0]):
                #indentify the training line
                train = X_train[train_index,:]

                #Calcuates the Gower Distance

                '''get the an the jaccard distances calculations, 
                an array of the minkowski distance calculations for each point, and 
                the denominator'''

                jaccard, gower_point_dist, denominator = gower_distance(test, train, cont_idx, cat_idx)
                #store each calculation to an array
                if train_index == 0:
                    jaccard_array = np.array(jaccard).reshape(1,1)
                    gower_array = gower_point_dist.reshape(1,len(cont_idx))
                else:
                    jaccard_array = np.append(jaccard_array, np.array(jaccard).reshape(1,1),axis=0)
                    gower_array = np.append(gower_array,gower_point_dist.reshape(1,len(cont_idx)),axis=0)

            #normalize the gower distance to be on a zero to one scale
            scaler = MinMaxScaler()
            gower_array = scaler.fit_transform(gower_array)

            #combine the jackard distance calcuation wtih the normalized gower array
            normalized_gower_array = np.hstack((jaccard_array, gower_array))
            '''CALCULATE ALL THE GOWER DISTANCES LINE BY LINE AND APPEND TO A LIST''' 
            for i in range(normalized_gower_array.shape[0]):
                distances.append((sum(normalized_gower_array[i,:]))/denominator)
                
        #create an array of manhattan distances        
        elif distance == 'manhattan':
            for train_index in range(X_train.shape[0]):
                train = X_train[train_index,:]
                distances.append(minkowski_distance(test, train, p =1))
                    
        #create an array of euclidean distances 
        elif distance == 'euclidean':
            for train_index in range(X_train.shape[0]):
                train = X_train[train_index,:]
                distances.append(minkowski_distance(test, train, p =2))
                    
        #create an array of manhattan distances 
        elif distance == 'jaccard':
            for train_index in range(X_train.shape[0]):
                train = X_train[train_index,:]
                distances.append(jaccard_distance(test, train))
                    
        # 3. get the indexes for the nearest neighbors
        prediction_index = np.array(distances).argsort()[:k]

        # 4. get all the predictions values
        prediction_values = y_train[prediction_index]

        # 5. Use the numpy unique function to determine which prediction appeared the most
        # returns the position in the unique array with the maximum count
        max_index = np.argmax(np.unique(prediction_values , return_counts=True)[1])

        # 6. returns the value of the maximum count
        prediction = np.unique(prediction_values , return_counts=True)[0][max_index]

        # 7. store the prediction to the list
        predictions.append(prediction)
        
    return np.array(predictions)

In [22]:
predictions = knn_predictions(X_train, X_test, y_train, y_test, col_names, k = 5, distance = 'euclidean')

# Classification Report
***

In [23]:
def accuaracy_report(y_test, predictions):
    from sklearn.metrics import classification_report, confusion_matrix
    print('The Accuracy Score is: ',np.array(np.sum(np.equal(predictions, y_test))) / y_test.shape[0],'\n')
    print('The Classification Report')
    print('-------------------------')
    print(classification_report(y_test, predictions),'\n')
    print('The Confusion Matrix')
    print('-------------------------')
    print(pd.DataFrame(confusion_matrix(y_test, predictions)).apply(lambda x: x / sum(x), axis=1))

In [24]:
accuaracy_report(y_test, predictions)

The Accuracy Score is:  0.966666666667

The Classification Report
-------------------------
             precision    recall  f1-score   support

          0       1.00      1.00      1.00        15
          1       1.00      0.90      0.95        10
          2       0.83      1.00      0.91         5

avg / total       0.97      0.97      0.97        30


The Confusion Matrix
-------------------------
     0    1    2
0  1.0  0.0  0.0
1  0.0  0.9  0.1
2  0.0  0.0  1.0

# Bringing it all together for a complete KNN Function
The below was used to draft the wrapper function for the KNN.
I added all of these functions to a single script to be used as a library
***

In [25]:
"""The Complete KNN Wrapper Fuction"""
"""--------------------------------"""
def Complete_KNN(df, y, var_type = 'continuous',
                 continuous_list = None, categorical_list = None, categorical_only= False,
                 k = 5, distance_measure = 'euclidean'):
    
    #import packages
    import numpy as np
    import pandas as pd
    
    # the index variables will be populated if we are using a mixed type
    cont_idx = None
    cat_idx = None
    
    # Step 1 - Preprocessing
    if var_type == 'mixed':
        X_train, X_test, y_train, y_test, col_names, cont_idx, cat_idx = data_type_preprocessing(df,y, var_type = var_type,
                                                                                        continuous_list = continuous_list,
                                                                                        categorical_list = categorical_list,
                                                                                        categorical_only= categorical_only)
    else:
        X_train, X_test, y_train, y_test, col_names = data_type_preprocessing(df,y, var_type = var_type,
                                                                                        continuous_list = continuous_list,
                                                                                        categorical_list = categorical_list,
                                                                                        categorical_only= categorical_only)
        
    # Step 2 - Generate Predictions
    predictions = knn_predictions(X_train, X_test, y_train, y_test, col_names, 
                                 cont_idx = cont_idx, cat_idx = cat_idx,
                                 k = k, distance = distance_measure)
    
    
    #Step 3 - Print Accuarcy Report
    accuaracy_report(y_test, predictions)
    
    # Step 4 - Return Predictions
    return predictions

### Using the Complete_KNN function from the KNN_Glover.py Script File

In [26]:
from KNN_Glover import Complete_KNN
Complete_KNN(data, y = 'TARGET', var_type = 'continuous',
                 continuous_list = None, categorical_list = None, categorical_only= False,
                 k = 5, distance_measure = 'euclidean' )

The Accuracy Score is:  0.966666666667

The Classification Report
-------------------------
             precision    recall  f1-score   support

          0       1.00      1.00      1.00         7
          1       1.00      0.92      0.96        13
          2       0.91      1.00      0.95        10

avg / total       0.97      0.97      0.97        30


The Confusion Matrix
-------------------------
     0         1         2
0  1.0  0.000000  0.000000
1  0.0  0.923077  0.076923
2  0.0  0.000000  1.000000

array(['1', '2', '0', '1', '0', '1', '2', '2', '2', '2', '2', '0', '2',
       '1', '1', '0', '1', '1', '0', '1', '2', '2', '1', '1', '1', '0',
       '1', '2', '0', '2'],
      dtype='<U1')

<br>
<br>
<br>
<br>
***
# Titanic Dataset
***

## 1) Import and Preprocess the Data

In [27]:
data = pd.read_csv('C:/Users/Steven Glover/Jupyter Notebooks/Fall Semester/KNN/titanic3.csv')
print('columns: ',data.columns,'\n')
print('shape: ', data.shape,'\n')
print('null: \n', pd.isnull(data).sum())
print('-------------------------------')
print('Unique Values: ', data.nunique())

columns:  Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

shape:  (1310, 14)

null:
 pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64
-------------------------------
Unique Values:  pclass          3
survived        2
name         1307
sex             2
age            98
sibsp           7
parch           8
ticket        929
fare          281
cabin         186
embarked        3
boat           27
body          121
home.dest     369
dtype: int64

### Drop Name, Cabin, Ticket, Boat,  Get Rid of Null Values, and Inspect Unique Values

In [28]:
data = data.drop(['name','cabin','ticket','boat','home.dest','body'], axis = 1)
data = data.dropna()
data.info()

for i in data.columns.tolist():
    print(i,'\n',data[i].unique())
    print('---------------')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1043 entries, 0 to 1308
Data columns (total 8 columns):
pclass      1043 non-null float64
survived    1043 non-null float64
sex         1043 non-null object
age         1043 non-null float64
sibsp       1043 non-null float64
parch       1043 non-null float64
fare        1043 non-null float64
embarked    1043 non-null object
dtypes: float64(6), object(2)
memory usage: 73.3+ KB
pclass
 [ 1.  2.  3.]
---------------
survived
 [ 1.  0.]
---------------
sex
 ['female' 'male']
---------------
age
 [ 29.       0.9167   2.      30.      25.      48.      63.      39.      53.
  71.      47.      18.      24.      26.      80.      50.      32.      36.
  37.      42.      19.      35.      28.      45.      40.      58.      22.
  41.      44.      59.      60.      33.      17.      11.      14.      49.
  76.      46.      27.      64.      55.      70.      38.      51.      31.
   4.      54.      23.      43.      52.      16.      32.5     21.      15.
  65.      28.5     45.5     56.      13.      61.      34.       6.      57.
  62.      67.       1.      12.      20.       0.8333   8.       0.6667
   7.       3.      36.5     18.5      5.      66.       9.       0.75
  70.5     22.5      0.3333   0.1667  40.5     10.      23.5     34.5     20.5
  30.5     55.5     38.5     14.5     24.5     74.       0.4167  11.5     26.5   ]
---------------
sibsp
 [ 0.  1.  2.  3.  4.  5.  8.]
---------------
parch
 [ 0.  2.  1.  4.  3.  5.  6.]
---------------
fare
 [ 211.3375  151.55     26.55     77.9583    0.       51.4792   49.5042
  227.525    69.3      78.85     30.      247.5208   76.2917   75.2417
   52.5542  221.7792   26.       91.0792  135.6333   35.5      31.
  164.8667  262.375    55.       30.5      50.4958   27.7208  134.5
   26.2875   27.4458  512.3292    5.       47.1     120.       61.175
   53.1      86.5      29.7     136.7792   25.5875   83.1583   25.7      71.
   71.2833   52.       57.       81.8583  106.425    39.6      56.9292
   78.2667   31.6792   26.3875   27.75    263.      133.65     49.5      79.2
   38.5     211.5      59.4      89.1042   34.6542   28.5     153.4625
   63.3583   55.4417   76.7292   83.475    93.5      42.5      50.
   57.9792   90.       28.7125   51.8625   25.9292   39.4      45.5
  146.5208   82.1708   57.75     42.4     113.275    26.2833  108.9
   61.9792   66.6      40.125    55.9      30.6958   60.       82.2667
   32.3208   79.65    110.8833   28.5375   33.5      34.0208   75.25
   77.2875   61.3792   24.       13.       11.5      10.5      12.525    39.
   29.       21.       13.5      26.25     36.75     73.5      31.5      23.
   32.5      13.8583   14.5      33.       65.       16.       12.275    27.
   15.       13.7917   12.35     41.5792   12.       12.875    37.0042
   19.5      14.        9.6875   30.0708   13.8625   12.7375   15.0333
   15.0458   18.75     12.65     15.75      7.55     20.25      7.65
    7.925     7.2292    7.25      8.05      9.475     9.35     18.7875
    7.8875    7.05      8.3      22.525     7.8542   31.275     7.775
    7.7958    7.8958   17.8      31.3875    7.225    14.4583   15.85
   19.2583   14.4542    7.8792    4.0125   56.4958    7.75     15.2458
   15.5      16.1       7.725     7.0458    7.2833    7.8208    6.75
    8.6625    7.7333    7.4958    7.6292   15.9       8.1583   10.5167
   10.1708    6.95     14.4      24.15     17.4       9.5      20.575
   12.475    13.9       6.975    15.1      34.375     7.7417   20.525
    7.85     46.9       8.3625    9.8458    8.85     14.1083    8.9625
   12.2875    6.45      7.0542    6.4958    8.6542   11.1333    9.825
    7.125     8.4333    7.5208   13.4167    7.8292   22.025    12.1833
    9.5875    9.4833    6.4375   15.55      7.5792    7.1417    8.0292
   15.7417   11.2417    7.8       6.2375    9.225     3.1708    8.4042
    9.2167    8.6833   21.075    39.6875   13.775    29.125    20.2125
   69.55      9.325    16.7      27.9       9.8375   10.4625    8.5167
    9.8417    9.       18.        7.        7.875 ]
---------------
embarked
 ['S' 'C' 'Q']
---------------

# Use the Complete_KNN Algorithm via KNN.py Script

In [29]:
from KNN import Complete_KNN

Complete_KNN(data, y = 'survived', var_type = 'mixed',
                 continuous_list = ['age', 'sibsp', 'parch', 'fare'],
                 categorical_list = ['pclass','sex','embarked'],
                 categorical_only= False,
                 k = 5, distance_measure = 'gower' )

The Accuracy Score is:  0.803827751196

The Classification Report
-------------------------
             precision    recall  f1-score   support

        0.0       0.83      0.85      0.84       123
        1.0       0.77      0.74      0.76        86

avg / total       0.80      0.80      0.80       209


The Confusion Matrix
-------------------------
          0         1
0  0.845528  0.154472
1  0.255814  0.744186

array(['0.0', '0.0', '0.0', '0.0', '1.0', '1.0', '1.0', '1.0', '0.0',
       '0.0', '1.0', '1.0', '1.0', '1.0', '1.0', '0.0', '0.0', '0.0',
       '1.0', '0.0', '1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '1.0',
       '0.0', '1.0', '1.0', '0.0', '1.0', '0.0', '1.0', '0.0', '1.0',
       '0.0', '1.0', '0.0', '1.0', '1.0', '0.0', '1.0', '1.0', '0.0',
       '0.0', '1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '1.0', '1.0',
       '1.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0', '1.0', '1.0',
       '1.0', '1.0', '1.0', '1.0', '1.0', '1.0', '0.0', '1.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0',
       '0.0', '1.0', '0.0', '1.0', '1.0', '0.0', '1.0', '1.0', '0.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0',
       '1.0', '0.0', '1.0', '0.0', '1.0', '1.0', '0.0', '0.0', '1.0',
       '0.0', '0.0', '0.0', '1.0', '1.0', '0.0', '1.0', '0.0', '0.0',
       '0.0', '1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0',
       '0.0', '1.0', '0.0', '0.0', '0.0', '1.0', '1.0', '1.0', '0.0',
       '0.0', '0.0', '0.0', '1.0', '1.0', '0.0', '0.0', '1.0', '0.0',
       '0.0', '0.0', '1.0', '0.0', '0.0', '1.0', '0.0', '0.0', '1.0',
       '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '1.0', '0.0', '1.0',
       '0.0', '0.0', '1.0', '0.0', '1.0', '1.0', '1.0', '1.0', '0.0',
       '1.0', '0.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '0.0',
       '1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0',
       '0.0', '0.0', '1.0', '0.0', '0.0', '0.0', '1.0', '0.0', '1.0',
       '1.0', '0.0', '0.0', '0.0', '0.0', '1.0', '0.0', '1.0', '0.0',
       '0.0', '0.0'],
      dtype='<U3')